# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build
*.local
# firebase cache
*.cache
.firebase/

# misc
.DS_Store
.env.development
.env.production
.env.prd
.env.development.local
.env.test.local
.env.production.local
.env.local
.env

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

service_account_prd.json
service_account.json
service_account_prod.json
service_account_test.json

# Compiled JavaScript files
functions/lib/*
__pycache__/
*:Zone.Identifier
log.txt
*/data/*.json
*/output/*.json
ormconfig.json
メモ/
tsconfig.tsbuildinfo

# Compiled JavaScript files
lib

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
*.local

*/log/*.txt
backup.sql
backup_test.sql
repomix-output.txt